
body {
    background-color: #212529;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}






header {
    display: flex;
    flex-flow:column wrap;
    margin: auto;
    justify-content: center;
    align-items: center;


}


li{
    display: inline-block;
}

h1 {
    font-family:'Young Serif', serif;
    color: white;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}



.abajo {
    bottom: 0;
    width: 99%;
}

footer {
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


main {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;

}

.arriba {
    display: flex;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    width: 1370px;
    flex-flow: column wrap;
    text-align: center;
}


.container {
    width: 1370px;
    border: 5px solid;
    margin-bottom: 50px;
}



a{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}






.jaraxxus {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 1370px;
    height: 50px;
    border: 5px solid;
    padding: 5px;
    margin-bottom: 50px;
}

.Jraxxush2 {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    color: red;
    text-decoration: underline;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: column wrap;
}

.flexbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
}

.fotoraids{
    display: flex;
    align-items: center;
    flex-flow:column wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-bottom: 200px;

}

.nombreraid {
    font-size: xx-large;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(221, 230, 53);
    text-align: center;
}

h2 {
    text-align: center;
}

.jaraxxuspage{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}

.paddin {
    margin-bottom: 50px;
}

.whatsapp {
    color: green;
}

.instagram {
    color: rgb(214, 58, 100);
}

.telegram {
    color: rgb(82, 157, 232);
}




.inicio {

}

@media (max-width: 1200px) {
    .arriba {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        align-content: center;
        flex-flow: wrap;
        text-align: center;
    }
    .container {
        width: 100%;
    }
    .fotoraids * {
        width: 100%;
        height: auto;
    }
    .lk {
        width: 100%;
        height: auto;
    }
    
}   

