* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin flex-mixin {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

$bg-color: #212529;

h1 {
    font-family:'Young Serif', serif;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

a{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}
